@charset "utf-8";
/*
    MEDIA QUERY STYLESHEET
*/

/* MOBILE SCREENS ONLY */
@media (max-width: 450px){
    .bio .bio-image{
        width: 70% !important;
    }
    .intro-message .col-sm-12.col-md-10.col-lg-6{
        text-align: left !important;
    }
}

/* SMALL SCREEN SIZES */
@media (max-width: 767px){
    .large_logo{
        display: none;
    }
    .small_logo{
        display: block;
    }
    .bio{
        margin-top: 35% !important;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .bio p{
        max-width: 70% !important;
        margin: 0 auto;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .bio .bio-image{
        width: 50%;
    }
    .bio.new-margin{
        margin-top: 35%;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .portfolio .carousel .carousel-inner .item img, .hsContent{
        margin: 0 auto;
        width: 96%;
    }
    .social{
        display: none;
    }
    .navbar-right{
        display: block !important;
    }
    .icon-nav{
        display: none !important;
    }
}

/* MEDIUM SCREEN SIZED */
@media (max-width: 991px){
    .bio{
        margin-top: 25%;
    }
    .bio p{
        max-width: 35%;
        margin: 0 auto;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .bio .bio-image{
        width: 35%;
    }
    .navbar-right{
        display: none;
    }
    .icon-nav{
        display: block;
    }
    .social{
        display: none;
    }
    .social-modal-button{
        display: block !important;
    }
}

/* ALL SCREENS BELOW 1200px */
@media (max-width: 1200px){}

/* ALL SCREENS ABOVE SMALL SCREEN SIZES */
@media (min-width: 768px){
    .navbar.sticky-nav .large_logo{
        display: none;
    }
    .navbar.sticky-nav .small_logo{
        display: block;
    }
}

/* ALL SCREENS ABOVE 992px */
@media (min-width: 992px){
    .icon-nav{
        display: none;
    }
    .social-modal-button{
        display: none;
    }
}

/* ALL SCREENS ABOVE 1200px */
@media (min-width: 1200px){}