@charset "utf-8";
/*
    MEDIA QUERY STYLESHEET
*/

/* MOBILE SCREENS ONLY */
@media (max-width: 450px){
    .bio .bio-image{
        width: 70% !important;
    }
}

/* SMALL SCREEN SIZES */
@media (max-width: 768px){
    .large_logo{
        display: none;
    }
    .small_logo{
        display: block;
    }
    .bio{
        margin-top: 35%;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .bio p{
        max-width: 70% !important;
        margin: 0 auto;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .bio .bio-image{
        width: 50%;
    }
    .bio.new-margin{
        margin-top: 35%;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .portfolio .carousel .carousel-inner .item img, .hsContent{
        margin: 0 auto;
        width: 96%;
    }
    .social{
        display: none;
    }
}

/* MEDIUM SCREEN SIZED */
@media (max-width: 992px){
    .bio p{
        max-width: 35%;
        margin: 0 auto;
        transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
    }
    .bio .bio-image{
        width: 35%;
    }
}

/* ALL SCREENS ABOVE SMALL SCREEN SIZES */
@media (min-width: 768px){
    .navbar.sticky-nav .large_logo{
        display: none;
    }
    .navbar.sticky-nav .small_logo{
        display: block;
    }
}