/* File Name: skrollr
* Author: Haden hIles
* File Description: used to apply styles to the skrollr parallax elements
*/
.about .hsContainer{
    background: rgba(0, 0, 0, 0.8);
    float: left;
}
.contact .hsContainer{
    background: rgba(0, 0, 0, 0.8);
    float: left;
}
.portfolio .hsContainer{
    padding: 0 0 40px 0;
}
.portfolio .hsContent, .portfolio_section .hsContent, .footer .hsContent, .services .hsContent, .contact .hsContent{
    max-width: 80%;
}
.footer .hsContainer{
    padding: 0 0 30px 0;
}
.services .hsContainer{
    float: left;
    padding: 15px 0 !important;
}
.hsContainer {
    height: 100%;
    width: 100%;
    padding: 15px 0;
    background: rgba(0, 0, 0, 1.0);
}
.hsContent {
    margin: 0 auto;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 1%;
}
.hsContent img{
    padding: 1%;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 (about) */
#slide-1 .bcg {}