/* CSS */
.about .hsContainer{
    background: rgba(0, 0, 0, 0.8);
    float: left;
}
.contact .hsContainer{
    background: rgba(0, 0, 0, 0.8);
    float: left;
}
.portfolio .hsContainer{
    padding: 0 0 40px 0;
}
.hsContainer {
    height: 100%;
    width: 100%;
    padding: 40px 0;
    background: rgba(0, 0, 0, 1.0);
}
.hsContent {
    margin: 0 auto;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 1%;
}
.hsContent img{
    padding: 1%;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 (about) */
#slide-1 .bcg {}