<!--Create a polymer element for the header of the website-->
<polymer-element name="header-template">
    <template>
        <!--Include bootstrap stylesheets-->
        <link rel="stylesheet" href="../bootstrap-3.2.0-dist/css/bootstrap.min.css" />

        <!--Include bootstrap javascript files-->
        <script src="../bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>

        <!--Include external javascript files-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../images/logo/stamp-created-dark.png" class="img-responsive" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </template>
</polymer-element>